.board-wrapper {
  grid-area: board-wrapper;
  display: grid;
  place-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
  position: relative;
}

.board_square-black,
.board_square-white {
  display: grid;
  place-items: center;
}

.board_square-black {
  background-color: black;
}

.board_square-white {
  background-color: white;
  color: black;
}

.knight {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 100px;
  width: 100px;
  display: grid;
  place-items: center;
  transition: transform 1s;
}

.knight-image {
  height: 90px;
  width: 90px;
}
