.board-wrapper {
  grid-area: 'board-wrapper';
  display: grid;
  justify-content: start;
  align-content: start;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(8, 100px);
  position: relative;
  border: 9px solid black;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 1);
}

.square {
  display: grid;
  place-items: center;
  font-size: 2rem;
  font-weight: 600;
}

.square-black {
  background-color: black;
  color: white;
}

.square-white {
  background-color: white;
  color: black;
}

.square-end {
  width: 100px;
}

.square-end {
  width: 100px;
  font-size: 3rem;
  font-weight: 700;
}
